*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header {
    background-image: url(pic/back.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #Fff;
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1180px;
}
}
.f-nav{
    padding: 15px 0;
}
.f-nav span{
    font-size: 11px;
}
.s-nav{
    text-align: right;
    padding: 15px 0;
}
.s-nav span{
    font-size: 11px;
}
.starter{
    margin-right: 62px;
}
#exmp{
    padding: 0;
}

#ully li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.centry{
    text-align: center;
    margin-top: 35px;
}
.centry h4{
   font-size:24px;
   font-weight: 700;
}
.centry span{
    font-size: 14px;
    font-weight: 900;
}